.projects {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
  border: 8px solid hsl(139, 30%, 50%);
  border-radius: 8px;
  position: relative;
  z-index: 5;
}

ul {
  width: 100%;
  height: 10%;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  margin: 0;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.projectOption {
  position: relative;
  width: 20%;
  height: 100%;
}

.projectDiv {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.modal {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  font-size: 20px;
  font-weight: 400;
  font-family: 'Scope One', serif;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  color: white;
  border: 1px solid white;
  cursor: pointer;
  transition: 0.5s;
}

.modalActive {
  background-color: hsl(139, 30%, 50%);
}

.modalActive:hover {
  background-color: hsl(139, 30%, 60%);
}

.modalInactive {
  background-color: rgba(0, 0, 0, 0.75);
}

.modalInactive:hover {
  background-color: hsla(0, 10%, 20%, 0.7);
}

.project0 {
  background-image: url('http://i.imgur.com/79eNOe5.png');
}

.project1 {
  background-image: url('http://i.imgur.com/zBILyBo.png');
}

.project2 {
  background-image: url('http://i.imgur.com/YI1ajgW.png');
}

.project3 {
  background-image: url('http://i.imgur.com/iCsmqur.png');
}

.project4 {
  background-image: url('http://i.imgur.com/6OwwM9u.png');
}

.projectMain {
  width: 100%;
  height: 90%;
  display: flex;
  flex-flow: row;
}

.projectImage {
  width: 90%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.projectDetails {
  width: 5%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  transition: 0.2s;
}

.projectDetails:hover {
  background-color: hsl(215, 30%, 50%);
  color: white;
}

.fa-angle-left, .fa-angle-right {
  cursor: pointer;
  font-size: 64px;
}

.fa-angle-left:hover, .fa-angle-right:hover {
  font-size: 88px;
}

.projectActive {
  /*display: */
}

.projectInactive {
  display: none;
}

.projectCommentsContainer {
  width: 90%;
  height: 45%;
  left: 5%;
  top: 55%;
  position: absolute;
  display: flex;
  flex-flow: column;
  transition: 0.25s;
}

.projectCommentsContainer:hover {
  background-color: rgba(0, 0, 0, 0.65);
}

.projectComments {
  width: 100%;
  height: 50%;
  font-size: 20px;
  font-weight: 400;
  font-family: 'Scope One', serif;
  color: white;
  text-align: justify;
  padding: 24px;
}

.projectBuiltWith {
  width: 100%;
  height: 25%;
  font-size: 20px;
  font-weight: 400;
  font-family: 'Scope One', serif;
  color: white;
  text-align: justify;
  padding: 24px;
}

.projectLinks {
  width: 100%;
  height: 10%;
  position: absolute;
  top: 90%;
  left: 0%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.projectCommentsSpan {
  width: 33.3333%;
  height: 100%;
  background-color: white;
  transition: 0.5s;
}

.closeButton {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.closeButton:hover {
  background-color: hsl(215, 30%, 50%);
}

.projectCommentsSpan button {
  width: 100%;
  height: 100%;
  border: 0px;
  font-size: 20px;
  transition: 0.5s;
  text-align: center;
}

.viewTheCode:hover {
  color: white;
  background-color: hsl(245, 40%, 65%);
}

.tryTheSite:hover {
  color: white;
  background-color: hsl(59, 30%, 52%);
}

.projectCommentsSpanEnder {
  color: white;
  background-color: black;
  font-size: 56px;
  cursor: pointer;
  width: 44px;
  height: 44px;
  border-radius: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.projectCommentsSpanEnder:hover {
  color: black;
  background-color: white;
}

@media only screen and (max-device-width: 414px) and (orientation:portrait) {
  .modal {
    font-size: 12px;
  }
  .projectImage {
    width: 100%;
  }
  .projectDetails {
    display: none;
  }
  .projectCommentsSpan button {
    font-size: 8px;
    text-align: center;
    display: flex;
    flex-flow: row;
    align-items: center;
    margin: 0px;
    padding: 0px 12px;
  }
  .viewTheCode {
    text-align: left;
    justify-content: flex-start;
  }
  .tryTheSite {
    text-align: right;
    justify-content: flex-end;
  }
  .projectComments {
    font-size: 8px;
  }
  .projectBuiltWith {
    font-size: 8px;
  }
}

@media only screen and (max-device-width: 414px) and (orientation:landscape) {
  .modal {
    font-size: 12px;
  }
  .projectCommentsSpan button {
    font-size: 12px;
  }
}
