.gradientContainer {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.gradientText {
  font-family: 'Source Code Pro', monospace;
  display: inline-block;
  font-size: 72px;
  font-weight: 900;
}

@media only screen and (max-device-width: 414px) and (orientation:portrait){
  .gradientText {
    font-size: 36px;
  }
}

@media only screen and (max-device-width: 320px) and (orientation:portrait){
  .gradientText {
    font-size: 32px;
  }
}
