.gradientContainer {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.gradientText {
  font-family: 'Source Code Pro', monospace;
  display: inline-block;
  font-size: 72px;
  font-weight: 900;
}

@media only screen and (max-device-width: 736px) {
  .gradientText {
    font-size: 45px;
  }
}
