.gradientContainer {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.gradientText {
  font-family: 'Source Code Pro', monospace;
  display: inline-block;
  font-size: 5em;
  font-weight: 900;
}

@media only screen and (max-device-width: 414px) {
  .gradientText {
    font-size: 2em;
  }
}

@media only screen and (max-device-width: 768px) and (orientation:portrait) {
  .gradientText {
    font-size: 4em;
  }
}
