.balloons {
  margin-top: 60px;
}

.balloon {
  display: inline-block;
  width: 120px;
  height: 145px;
  background: hsl(215, 50%, 65%);
  border-radius: 80%;
  position: relative;
  box-shadow: inset -10px -10px 0 rgba(0, 0, 0, 0.07);
  margin: 20px 30px;
  transition: transform 0.5s ease;
  z-index: 5;
  animation: balloons 4s ease-in-out infinite;
  transform-origin: bottom center;
}

@keyframes balloons {
  0%, 100% {
    transform: translateY(0) rotate(-4deg);
  }
  50% {
    transform: translateY(-25px) rotate(4deg);
  }
}

.balloon:before {
  content: "▲";
  font-size: 20px;
  color: hsl(215, 30%, 50%);
  display: block;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: -18px;
  z-index: 4;
}

.balloon:after {
  display: inline-block;
  top: 147px;
  position: absolute;
  height: 250px;
  width: 1px;
  margin: 0 auto;
  content: "";
  background: rgba(0, 0, 0, 0.2);
}

.balloon:hover {
  cursor: pointer;
}

.balloon:nth-child(1):hover {
  background-image: url('http://i.imgur.com/79eNOe5.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.balloon:nth-child(2) {
  background: hsl(245, 40%, 65%);
  animation-duration: 3.5s;
}

.balloon:nth-child(2):before {
  color: hsl(245, 40%, 65%);
}

.balloon:nth-child(2):hover {
  background-image: url('http://i.imgur.com/VMuQpkL.png');
}

.balloon:nth-child(3) {
  background: hsl(139, 50%, 60%);
  animation-duration: 3s;
}

.balloon:nth-child(3):before {
  color: hsl(139, 30%, 50%);
}

.balloon:nth-child(3):hover {
  background-image: url('http://i.imgur.com/YI1ajgW.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.balloon:nth-child(4) {
  background: hsl(59, 50%, 58%);
  animation-duration: 4.5s;
}

.balloon:nth-child(4):before {
  color: hsl(59, 30%, 52%);
}

.balloon:nth-child(4):hover {
  background-image: url('http://i.imgur.com/VMuQpkL.png');
}

.balloon:nth-child(5) {
  background: hsl(23, 55%, 57%);
  animation-duration: 5s;
}

.balloon:nth-child(5):before {
  color: hsl(23, 44%, 46%);
}

.balloon:nth-child(5):hover {
  background-image: url('http://i.imgur.com/Bbu9NpZ.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media only screen and (max-device-width: 414px) {
  .balloon {
    width: 48px;
    height: 58px;
    margin: 40px 12px;
    box-shadow: inset -4px -4px 0 rgba(0, 0, 0, 0.07);
  }
  .balloon:before {
    content: "▲";
    font-size: 8px;
    bottom: -8px;
  }
  .balloon:after {
    top: 56px;
    height: 100px;
  }
}

@media only screen and (max-device-width: 414px) and (orientation:landscape) {
  .balloons {
    margin-top: 30px;
  }
}
