.App {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.centre {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  margin: 0;
  padding: 0;
}

.buttonContainer {
  position: absolute;
  display: flex;
  flex-flow: row;
  left: 20%;
  top: 85%;
  width: 60%;
  height: 10%;
}

.sideButton {
  text-align: center;
  width: 33.33%;
  height: 100%;
  font-size: 24px;
  border: 0px;
  transition: background-color 0.5s, color 0.5s;
}

.sideButton:hover {
  color: white;
}

.aboutButton:hover {
  background-color: hsl(215, 50%, 65%);
}

.projectsButton:hover {
  background-color: hsl(139, 30%, 50%);
}

.contactButton:hover {
  background-color: hsl(23, 55%, 57%);
}

@media screen and (max-width:736px) {
  .buttonContainer {
    flex-flow: column;
    left: 0px;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 24%;
    top: 70%;
  }
  .sideButton {
    width: 50%;
  }
}
