.App {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.centre {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  margin: 0;
  padding: 0;
}

.buttonContainer {
  position: absolute;
  display: flex;
  flex-flow: row;
  left: 20%;
  top: 85%;
  width: 60%;
  height: 10%;
}

.sideButton {
  text-align: center;
  width: 33.33%;
  height: 100%;
  font-size: 20px;
  border: 0px;
  transition: color 0.5s;
  /*background-color: red;*/
  /*display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  align-self: center;*/
  align-content: center;
}

.sideButton:hover {
  color: white;
}

.aboutButton:hover {
  background-color: hsl(215, 50%, 65%);
}

.projectsButton:hover {
  background-color: hsl(139, 30%, 50%);
}

.contactButton:hover {
  background-color: hsl(23, 55%, 57%);
}

.bottomContainer {
  position: absolute;
  left: 5%;
  top: 94%;
  width: 90%;
  height: 10%;
  border-radius: 8px;
}

.bottomAboutActive {
  background-color: rgba(0, 0, 0, 0);
}

.bottomProjectsActive {
  background-color: rgba(0, 0, 0, 0);
}

.bottomContactActive {
  background-color: rgba(0, 0, 0, 0);
}

.appFooter {
  position: fixed;
  left: 5%;
  width: 90%;
  height: 90%;
  z-index: 5;
  transition: top 0.5s;
}

.footerActive {
  top: 5%;
}

.footerInactive {
  top: 100%;
}

@media only screen and (max-device-width: 414px) {
  .buttonContainer {
    flex-flow: column;
    left: 0px;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 24%;
    top: 70%;
    /*background-color: red;*/
  }
  .sideButton {
    width: 90%;
    /*font-size: 16px;*/
  }
}
