.about {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
  border: 8px solid hsl(215, 50%, 65%);
  border-radius: 8px;
  position: relative;
  z-index: 5;
  /*background-color: white;*/
  background-image: url('http://i.imgur.com/Hr3S0sW.jpg');
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-flow: row;
}

/*.aboutLeft{
  width:30%;
  height:100%;
}*/

.aboutRight{
  width:100%;
  height:100%;
}

.aboutDiv {
  width: 100%;
  height: 20%;
  transition: 0.5s;
}

.aboutStarter {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
    padding-left:400px;
}

/*.profileImage {
  margin: 12px;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: 8px solid hsl(215, 50%, 65%);
  background-image: url('http://i.imgur.com/NOfd0FG.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}*/

.profileDetails {
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.tagline {
  width: 100%;
  height: 50%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  color: white;
  font-family: 'Nunito Sans', sans-serif;
}

.taglineLarge {
  font-size: 28px;
  font-weight: 700;
  align-items: flex-end;
}

.taglineSmall {
  font-size: 28px;
  font-weight: 700;
  align-items: flex-start;
}

.aboutWords {
  font-size: 20px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  text-align: justify;
  align-items: center;
  padding-right: 12px;
    padding-left:400px;
  /*padding: 0px 24px;*/
  color: white;
}

/*.aboutWords:hover {
  background-color: hsl(139, 30%, 50%);
  color: white;
}*/

.aboutHitMeUp{
  display:flex;
  flex-flow: row;
  flex-wrap: wrap;
  white-space: normal;
  justify-content: center;
  align-items: center;
  /*background-color: white;*/
}

.hitMeUpFirst{
  color:white;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 24px;
  margin-right: 12px;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
.hitMeUp {
  color: white;
  background-color: red;
  font-weight: 700;
  font-size: 16px;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.hitMeUp:hover {
  border-color: white;
  background-color: white;
  color: red;
}

.aboutSkills {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 48px;
}

/*.aboutSkills:hover {
  background-color: hsl(245, 40%, 65%);
  color: white;
}*/

.skillIcon {
  margin: 0px 8px;
}

.aboutEnder {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

/*.aboutEnder:hover {
  background-color: hsl(215, 30%, 50%);
  transition: background-color 0.5s;
}*/

.aboutEnder span {
  color: white;
  background-color: black;
  font-size: 56px;
  cursor: pointer;
  width: 44px;
  height: 44px;
  border-radius: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aboutEnder span:hover {
  color: black;
  background-color: white;
}

@media only screen and (max-device-width: 414px) and (orientation:portrait) {
  .tagline{
    color: rgba(0,0,0,0);
  }
  .aboutWords{
    color: rgba(0,0,0,0);
  }
  .aboutHitMeUpFirst{
    width:100%;
    margin-right: 0px;
  }
  .aboutHitMeUp{
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
  .aboutSkills {
    font-size: 28px;
  }
}

@media only screen and (max-device-width: 414px) and (orientation:landscape) {
  .aboutStarter{
    padding-left: 150px;
  }
  .tagline{
    font-size: 16px;
  }
  .taglineLarge{
    display: none;
  }
  .aboutWords{
    padding-left: 150px;
    font-size: 14px;
  }
  .hitMeUpFirst{
    font-size: 16px;
  }

  .hitMeUp{
    font-size: 12px;
  }
  .aboutSkills {
    font-size: 28px;
  }
}
